
<div class="row">
   		
    <nav class="pagination">
       <span class="page-numbers prev inactive">Prev</span>
         <% for(let i = 0; i < count.pages.length; i++ ){ %>
            <span class="page-numbers current"><%= count.pages[i] %></span> 
         <% } %>
        <a href="#" class="page-numbers next">Next</a>
   </nav>

</div>
 
